.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-list {
  margin: 50px 0px;
  font-family: 'Raleway';
  font-size: 20px;
  list-style: '➝';
}

.home-info {
  font-family: 'Raleway';
  font-size: 25px;
  text-align: center;
  width: 50%;
}

.list-item {
  padding-left: 10px;
  margin: 5px 0px;
}
